<div class="row">
  <div *ngFor="let i of prodArray" class="card col" style="width: 18rem;">
    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61PGMP8d5PL._SX425_.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{i.nompdt}}</h5>
      <p class="card-text"> Price : {{i.prixpdt}}</p>
      <a href="#" (click)="del($event,i)" class="btn btn-danger">Delete</a>
    </div>
  </div>
  
<form>
    
    <div class="form-check">
      <h3>Total amount: </h3>
    </div>
    <button type="submit" class="btn btn-primary">Checkout</button>
  </form>